<!DOCTYPE html>
<html>

<head>

  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Selfy - Formation HTML/CSS</title>

  <link rel="stylesheet" href="./main.css" />

  <script src="https://kit.fontawesome.com/7f149086db.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <div class="container">
      <div class="top-nav">
        <img src="./resources/images/flooop.png" alt="" />
        <ul class="nav-list">
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Skins</a>
          </li>
          <li>
            <a href="#">Alias</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>
      <div class="head-text">
        <h1>You Idiots!</h1>
        <h5>These are not them! You've captured their stunt doubles!</h5>
        <h6>- Spaceballs</h6>
      </div>
    </div>
  </header>

  <section class="about" id="about">
    <div class="container">
      <div class="section-heading">
        <h1>About Me <span>.</span></h1>
        <h6>Typically I am a creature of routine, you could say predictable. Wanna get an understanding to a week in my
          life, this is it.</h6>
      </div>
      <div class="informations">
        <ul class="information">
          <li>
            <i class="fas fa-mug-hot"></i>
            <h1>96</h1>
            <h6>Flat Whintes</h6>
          </li>
          <li>
            <i class="fas fa-music"></i>
            <h1>329</h1>
            <h6>Songs Listened to</h6>
          </li>
          <li>
            <i class="fas fa-apple-alt"></i>
            <h1>05</h1>
            <h6>Skipped Meals</h6>
          </li>
          <li>
            <i class="fas fa-gamepad"></i>
            <h1>16</h1>
            <h6>Hours Gaming</h6>
          </li>
          <li>
            <i class="fas fa-shoe-prints"></i>
            <h1>32</h1>
            <h6>Kilometers Walked</h6>
          </li>
        </ul>
      </div>
      <div class="resume">
        <div class="me-in-nutshell">
          <h1 class="section-subheading">Me in a Nutshell<span>.</span></h1>
          <div class="img-text">
            <img src="/site/resources/images/kiss.jpg" alt="">
            <p>Fugiat eu eiusmod ex est fugiat ipsum est. Est mollit laboris mollit est occaecat nostrud aliquip magna
              irure
              cupidatat adipisicing duis proident ea. Ad pariatur in id aliqua esse adipisicing. Adipisicing sit ipsum
              fugiat tempor tempor duis do in tempor qui amet sit. Fugiat eu eiusmod ex est fugiat ipsum est.</p>
          </div>
          <p class="has-margin">Fugiat eu eiusmod ex est fugiat ipsum est. Est mollit laboris mollit est occaecat
            nostrud aliquip magna
            irure
            cupidatat adipisicing duis proident ea. Ad pariatur in id aliqua esse adipisicing. Adipisicing sit ipsum
            fugiat tempor tempor duis do in tempor qui amet sit.</p>
          <a href="#"> &rarr; Say Hi, Email me</a>
        </div>
        <div class="my-skills">
          <h1 class="section-subheading">My Skills<span>.</span></h1>
          <div class="skill w80">Drinking</div>
          <div class="skill w60">Training</div>
          <div class="skill w40">Sleeping</div>
          <div class="skill w90">Listen to Music</div>
          <p>Est tempor cupidatat magna cupidatat excepteur adipisicing. Duis in officia excepteur sint elit id eu
            voluptate. Quis amet tempor ex cupidatat veniam fugiat adipisicing mollit ipsum dolore ipsum magna aliqua.
          </p>
        </div>
      </div>
      <div class="sentence">
        <h1>Fugiat tempor laboris labore magna tempor.Proident Lorem pariatur officia culpa sint eiusmod dolor
          incididunt enim excepteur in aliqua ut.</h1>
        <h6>- santa claus</h6>
        <div class="caroussel-points">
          <div class="caroussel"></div>
          <div class="caroussel"></div>
          <div class="caroussel"></div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="overview">
        <h1 class="section-subheading">Overview</h1>
        <p>Deserunt non incididunt consectetur eu sunt fugiat amet est ex laboris commodo Lorem in culpa. Nostrud
          laboris nisi velit ullamco veniam consectetur laborum. Eu magna anim ex ea exercitation occaecat aliquip
          reprehenderit quis cillum nulla mollit ipsum sit. </p>
      </div>
      <div class="recent-posts">
        <h1 class="section-subheading">Recent posts</h1>
        <ul class="posts">
          <li class="post">Standard Post Title</li>
          <li class="post">Quote Post Type</li>
          <li class="post">Deer Head</li>
          <li class="post">Hidden Post</li>
          <li class="post">Whity Post Title</li>
        </ul>
      </div>
      <div class="recent-photos">
        <h1 class="section-subheading">Recent photos</h1>
        <div class="photos">
          <img class="photo" src="/site/resources/images/kiss.jpg" alt="">
          <img class="photo" src="/site/resources/images/head-photo.jpg" alt="">
          <img class="photo" src="/site/resources/images/kiss.jpg" alt="">
          <img class="photo" src="/site/resources/images/head-photo.jpg" alt="">
          <img class="photo" src="/site/resources/images/kiss.jpg" alt="">
          <img class="photo" src="/site/resources/images/head-photo.jpg" alt="">
        </div>
      </div>

      <div class="copyrights">
        <div class="bottom-text">
          <div class="copyright">
            <p><span>Selfy</span> &copy; Copyright Theme Canon 2013</p>
          </div>
          <ul class="social-media">
            <li>
              <i class="fab fa-facebook"></i>
            </li>
            <li>
              <i class="fab fa-twitter"></i>
            </li>
            <li>
              <i class="fas fa-wifi"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>